{{ define "body-class" }}template-about{{ end }}
{{ define "main" }}
<div class="container-about">
    <h2 class="section-details">
        <p>Hi, I'm</p> <a class="section-title" href="/">nclsbayona</a>
    </h2>
    <h3 class="section-description">
        I'm a <strong>Systems Engineer</strong>.
    </h3>
    <p class="section-description">
        I'm passionate for technology, software development and people. I'm always looking for new
        challenges and opportunities to learn new things.
    </p>
</div>
<br />
{{ partial "custom/quotes" (dict "context" . "quotes" .Params.quotes) }}

{{ partialCached "footer/footer" . }}

{{ end }}
