{{- $context := first 1 (where .Context.Site.Pages "Layout" "==" "quote") -}}
{{- if $context -}}
{{- $page := index $context 0 -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "quote" }}
    </div>
    <h2 class="widget-title section-title">{{ T "quote" | default $page.Title }}</h2>
{{- with $page.Params.quote -}}
    <div class="widget-content">
        {{ partial "custom/quote" (dict "image" .image "author" .author "text" .text) }}
    </div>
</section>
{{- end -}}
{{- else -}}
    {{- warnf "Quote page not found. Create a page with layout: quote." -}}
{{- end -}}