{{ $image := "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Elbert_Hubbard%27s_Scrap_Book_-_decorative_A.png/235px-Elbert_Hubbard%27s_Scrap_Book_-_decorative_A.png" }}
{{ $author := "Elbert Hubbard" }}
{{ $text := "One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man." }}

<section class="widget">
    <div class="widget-icon">
        {{ partial "helper/icon" "quote" }}
    </div>
    <h2 class="widget-title section-title">Today's quote</h2>

    <!-- <section class="section-card" style="flex: 50%;">
        <section class="section-image">
            <img src="{{ $image }}" alt="{{ .title }}" />
        </section>
        <section class="section-details">
            <p style="color: antiquewhite;">{{ $text }}</p>
            <i style="color: aliceblue; align-self: flex-end;">{{ $author }}</i>
        </section>
    </section> -->
    {{ partial "custom/quote" (dict "image" $image "author" $author "text" $text) }}

</section>