{{ $image := "https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Eric_Hoffer_in_LBJ_Oval_Office.jpg/250px-Eric_Hoffer_in_LBJ_Oval_Office.jpg" }}
{{ $author := "Eric Hoffer" }}
{{ $text := "The greatest weariness comes from work not done." }}

<section class="widget">
    <div class="widget-icon">
        {{ partial "helper/icon" "quote" }}
    </div>
    <h2 class="widget-title section-title">Today's quote</h2>

    <section class="section-card" style="flex: 50%;">
        <section class="section-image">
            <img src="{{ $image }}" alt="{{ .title }}" />
        </section>
        <section class="section-details">
            <p style="color: antiquewhite;">{{ $text }}</p>
            <i style="color: aliceblue; align-self: flex-end;">{{ $author }}</i>
        </section>
    </section>
    
</section>