name: Update visualization GIF
on:
  page_build:
  deployment: 
  workflow_dispatch:

concurrency:
  group: gif-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Make GIF
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    # - name: Configure monitor
    #   uses: GitHubSecurityLab/actions-permissions/monitor@v1
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Website to file
      uses: PabloLec/website-to-gif@2.1.5
      with:
        url: "https://nclsbayona.github.io"
        scroll_step: 2
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "docs: :memo: Update website gif"