name: Purge old runs

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 9 1 * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Token permissions
permissions:
  actions: write
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Purge
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # - name: Configure monitor
      #   uses: GitHubSecurityLab/actions-permissions/monitor@v1
      - name: Delete old
      # You may pin to the exact commit or the version.
        uses: yanovation/delete-old-actions@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          days-ago: 5
          keep-latest: 2
