name: Deploy to Github Pages

on:
    workflow_call:
    workflow_dispatch:
    push:
      branches: [main]
      paths:
      - 'content/**/*'
      - 'assets/**/*'
      - 'config/**/*'
      - 'layouts/**/*'
      - '.github/workflows/deploy.yml'

jobs:

    build:
      runs-on: ubuntu-latest
      name: Build Github Pages artifact

      permissions:
        contents: read
        
      concurrency:
        group: deploy-${{ github.ref }}
        cancel-in-progress: false

      steps:
      
      #- name: Configure monitor
      #  uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.ref }}
          persist-credentials: false

      - name: Retrieve quote content
        run: echo "Quote" && echo "Quote" >> $GITHUB_STEP_SUMMARY && cat ./content/page/quote/_index.md &&  cat ./content/page/quote/_index.md >> $GITHUB_STEP_SUMMARY
          
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.0'
          
      - uses: actions/cache@v5
        name: Cache Go module
        with:
            path: |
              ~/.cache/go-build
              ~/go/pkg/mod
            key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
            restore-keys: |
              ${{ runner.os }}-go-

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
            hugo-version: "0.140.2"
            extended: true

      - name: Build
        run: hugo --minify --gc -F

      - name: Update pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public/'      

      - name: Retrieve quote content
        run: echo "Final quote" && echo "Final quote" >> $GITHUB_STEP_SUMMARY && grep -A 7 'section-card' public/page/quote/index.html &&  grep -A 7 'section-card' public/page/quote/index.html >> $GITHUB_STEP_SUMMARY

    deploy:
      needs: build
      name: Deploy Github Pages artifact
      runs-on: ubuntu-latest

      permissions:
        pages: write
        id-token: write

      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      steps:
      # - name: Configure monitor
      #   uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
