name: Deploy to Github Pages

on:
    workflow_dispatch:
    push:
      branches:
      - 'main'
      paths:
      - 'content/**'
      - 'assets/**'
      - 'config/**'
      - '.github/workflows/deploy.yml'
      - 'layouts/**'

jobs:
    build:

      runs-on: ubuntu-latest

      permissions:
        contents: read
        pages: write
        id-token: write

      concurrency:
        group: deploy-${{ github.ref }}
        cancel-in-progress: false

      steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Cache Hugo resources
        uses: actions/cache@v4
        env:
          cache-name: cache-hugo-resources
        with:
          path: resources
          key: ${{ env.cache-name }}

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.17.0"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
            hugo-version: "latest"
            extended: true

      - name: Build
        run: hugo --minify --gc

      - name: Update pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public/'

    deploy:
      needs: build

      permissions:
        pages: write
        id-token: write

      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      runs-on: ubuntu-latest

      steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
