name: Deploy to Github Pages

on:
    workflow_call:
    workflow_dispatch:
    push:
      branches: [main]
      paths:
      - 'content/**/*'
      - 'assets/**/*'
      - 'config/**/*'
      - 'layouts/**/*'
      - '.github/workflows/deploy.yml'

jobs:

    security-checks:
      runs-on: ubuntu-latest
      permissions:
        contents: read
        pull-requests: read

      concurrency:
        group: sec_check-${{ github.ref }}
        cancel-in-progress: false

      steps:
      - name: Dependabot Security Updates
        uses: dependabot/fetch-metadata@v1
        id: dependabot-metadata
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fail if there are any security updates
        if: ${{ steps.dependabot-metadata.outputs.has-security-updates == 'true' }}
        run: |
          echo "There are pending Dependabot security updates. Please review and merge them before deploying."
          exit 1

      - uses: actions/checkout@v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          format: markdown
          jobSummary: true
          output: 'lychee-report.md'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Upload Link Checker Report
        uses: actions/upload-artifact@v4
        with:
          name: link-checker-report
          path: lychee-report.md

    build:
      needs: security-checks
      runs-on: ubuntu-latest

      permissions:
        contents: read
        pages: write
        id-token: write

      concurrency:
        group: deploy-${{ github.ref }}
        cancel-in-progress: false

      steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Cache Hugo resources
        uses: actions/cache@v4
        env:
          cache-name: cache-hugo-resources
        with:
          path: resources
          key: ${{ env.cache-name }}

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.17.0"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
            hugo-version: "latest"
            extended: true

      - name: Build
        run: hugo --minify --gc

      - name: Update pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public/'

    deploy:
      needs: build
      runs-on: ubuntu-latest

      permissions:
        pages: write
        id-token: write

      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
