name: Deploy to Github Pages

on:
    workflow_call:
    workflow_dispatch:
    push:
      branches: [main]
      paths:
      - 'content/**/*'
      - 'assets/**/*'
      - 'config/**/*'
      - 'layouts/**/*'
      - '.github/workflows/deploy.yml'

jobs:

    build:
      runs-on: ubuntu-latest
      name: Build Github Pages artifact

      permissions:
        contents: read
        pages: write
        id-token: write

      concurrency:
        group: deploy-${{ github.ref }}
        cancel-in-progress: false

      steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.17.0"

      - uses: actions/cache@v5
        with:
          path: |
            ./resources/_gen/images
          key: hugo-images-${{ hashFiles('./content/**/*') }}
          restore-keys: |
            hugo-images

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
            hugo-version: "latest"
            extended: true

      - name: Build
        run: hugo --minify --gc

      - name: Update pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public/'

    deploy:
      needs: build
      name: Deploy Github Pages artifact
      runs-on: ubuntu-latest

      permissions:
        pages: write
        id-token: write

      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

    analyze-page:
      needs: deploy
      name: Analyze
      uses: nclsbayona/nclsbayona.github.io/.github/workflows/page-analysis.yml@main
      secrets: inherit