name: Update Quote of the Day

on:
  schedule:
    - cron: '0 7 * * *' # Every day at 08:00 UTC
  workflow_dispatch:

jobs:
    get-quote:
        runs-on: ubuntu-latest
    
        permissions:
            contents: write

        concurrency:
            group: quote-${{ github.ref }}
            cancel-in-progress: false

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5
    
        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '^1.17.0'
    
        - name: Fetch Quote of the Day
          run: |
            go run ./assets/scripts/get_quote.go
    
        - name: Commit and push changes
          run: |
            git config --global user.name 'github-actions[bot]'
            git config --global user.email 'github-actions[bot]@users.noreply.github.com'
            git add layouts/partials/widget/quote.html
            git commit -m 'chore: :hammer: update Quote of the Day' || echo "No changes to commit"
            git push origin HEAD