name: Update Quote of the Day

on:
  schedule:
    - cron: '0 2 */3 * *' # Every three days at 02:00 UTC
  push:
      branches: [main]
      paths:
      - 'assets/scripts/get_quote.go'
      - '.github/workflows/fetch-quote.yml'
  workflow_dispatch:

jobs:
    get-quote:
        runs-on: ubuntu-latest
        name: Fetch and Update Quote of the Day
    
        permissions:
            contents: write

        concurrency:
            group: quote-${{ github.ref }}
            cancel-in-progress: false

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5
    
        - name: Set up Go
          uses: actions/setup-go@v6
          with:
            go-version: '^1.17.0'
    
        - name: Fetch Quote of the Day
          run: |
            go run ./assets/scripts/get_quote.go
    
        - name: Commit and push changes
          run: |
            git config --global user.name 'nclsbayona'
            git config --global user.email 'bayona.n@javeriana.edu.co'
            git add layouts/partials/widget/quote.html
            git commit -m 'chore: :hammer: update Quote of the Day' || echo "No changes to commit"
            git push origin main


    deploy:
        needs: get-quote
        uses: nclsbayona/nclsbayona.github.io/.github/workflows/deploy.yml@main
        secrets: inherit