name: Analyze webpage

on: 
  page_build:
  deployment:
  workflow_dispatch:
jobs:
  # psi:
  #   name: Page Speed Insights
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Run Page Speed Insights (Mobile)
  #     uses: mattorb/psi-action@v1
  #     id: psi_mobile
  #     with:
  #       threshold: 50
  #       url: "https://nclsbayona.github.io"
  #       strategy: mobile
  #   - name: Run Page Speed Insights (Desktop)
  #     uses: mattorb/psi-action@v1
  #     id: psi_desktop
  #     with:
  #       threshold: 50
  #       url: "https://nclsbayona.github.io"
  #       strategy: desktop
  sitespeed:
    if: always()
    name: Page Load Analysis
    runs-on: ubuntu-latest
    steps:
      #- name: Configure monitor
      #  uses: GitHubSecurityLab/actions-permissions/monitor@v1
      - run: mkdir -p /tmp/artifacts
      - name: Run Sitespeed.io
        uses: addnab/docker-run-action@v3
        with:
          image: sitespeedio/sitespeed.io:latest
          options: -v /tmp/artifacts:/sitespeed.io
          run: >
            /start.sh -v -d 3 https://nclsbayona.github.io
      - name: Upload Sitespeed.io results
        uses: actions/upload-artifact@v6
        with:
          name: sitespeed-results
          path: /tmp/artifacts
  lighthouse:
    if: always()
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
    - name: Configure monitor
      uses: GitHubSecurityLab/actions-permissions/monitor@v1
    - run: mkdir -p /tmp/artifacts
    - name: Run Lighthouse
      uses: foo-software/lighthouse-check-action@master
      with:
        outputDirectory: /tmp/artifacts
        urls: 'https://nclsbayona.github.io,https://nclsbayona.github.io/page'
    - name: Upload artifacts
      uses: actions/upload-artifact@master
      with:
        name: Lighthouse reports
        path: /tmp/artifacts
  #check-site-for-broken-links:
  #  if: always()
  #  name: Check sitemap for broken links
  #  runs-on: ubuntu-latest
  #  concurrency:
  #      group: sitemap_check-${{ github.ref }}
  #      cancel-in-progress: false
  #  steps:
  #    - uses: harrisonpim/broken-link-checker@0.2.1
  #      with:
  #        sitemap: https://nclsbayona.github.io/sitemap.xml
  link-checker:
    if: always()
    name: Link Checker
    runs-on: ubuntu-latest
    concurrency:
        group: link_check-${{ github.ref }}
        cancel-in-progress: false
    steps:
      - name: Configure monitor
        uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: --verbose --no-progress './**/*.md' './**/*.html'
          format: markdown
          jobSummary: true
          output: 'lychee-report.md'
          fail: false
          failIfEmpty: false
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Upload Link Checker Report
        uses: actions/upload-artifact@v6
        with:
          name: link-checker-report
          path: lychee-report.md
