name: ZAP scan

on:
  # schedule:
  # - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  full-scan:
    
    runs-on: ubuntu-latest

    steps:
    - name: ZAP Full Scan
      uses: zaproxy/action-baseline@v0.15.0
      with:
        target: 'https://nclsbayona.github.io'
        artifact_name: 'full-report'
        allow_issue_writing: false