name: Test sitemap with k6 and export dashboard

on:
  workflow_dispatch:
    inputs:
      BASE_URL:
        description: "Base URL (e.g. https://yourdomain.com)"
        required: true
      SITEMAP_URL:
        description: "Sitemap URL (defaults to BASE_URL/sitemap.xml)"
        required: false
        default: ""
      VUS:
        description: "Number of virtual users (VUs) to simulate"
        required: false
        default: "5"
      DURATION:
        description: "Duration of the test (e.g. 30s, 1m, 5m)"
        required: false
        default: "1m"
      URL_LIMIT:
        description: "Maximum number of URLs to test from the sitemap"
        required: false
        default: "500"
      REDIRECT_LIMIT:
        description: "Maximum number of redirects to follow per URL"
        required: false
        default: "5"
      TEST_MODE:
        description: "The test mode to run (vus (constant VUs for DURATION (classic concurrency test) , rate (constant arrival rate for DURATION))"
        required: false
        default: "vus"
    
  schedule:
    - cron: "0 3 * * 0" # Weekly on Sundays at 03:00 UTC

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.actor }}/k6-playwright:latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run sitemap action
        id: test
        uses: ./.github/actions/k6-sitemap
        with:
          base_url: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.BASE_URL) || (github.event_name == 'schedule' && 'https://nclsbayona.github.io') }}
          sitemap_url: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.SITEMAP_URL) || (github.event_name == 'schedule' && 'https://nclsbayona.github.io/sitemap.xml') }}
          vus: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.VUS) || (github.event_name == 'schedule' && '50') }}
          duration: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.DURATION) || (github.event_name == 'schedule' && '5m') }}
          redirect_limit: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.REDIRECT_LIMIT) || (github.event_name == 'schedule' && '5') }}
          test_mode: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.TEST_MODE) || (github.event_name == 'schedule' && 'rate') }}
          url_limit: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.URL_LIMIT) || (github.event_name == 'schedule' && '500') }}

      - name: Get dashboard variables
        id: dashboard
        run: |
          echo "The HTML is available at ${{ steps.test.outputs.dashboard_html }}"
          echo "The PNG is available at ${{ steps.test.outputs.dashboard_png }}"